*{
    font-family: 'Open Sans', sans-serif; /* Google Fonts */
}
html,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #5c5b5b; /* Gray */
}
body{
    background: #f6f6f6; /* White */
}
a{
    text-decoration: none;
    color: inherit; /* Ссылки наследуют цвет */
}
/*
    Шапка
*/
header{
    background: #008484; /* Aqua */
    height: 70px;
}
header *{
    color: #fff; /* White */
}
header h1{ /* Логотип */
    margin-top: 10px;
}
header h1 a{
    color: #ffffff; /* White */
}
header h1 a:hover{ /* Поинтер */
    color: #ffffff; /* White */
}
header ul{
    margin: 0;
    padding: 0;
    list-style-type: none;  /* Точки */
    float: right; /* Смещаем меню */
}
header ul li{ /* Меню */
    float: left;
    position: relative;
}
header ul li a{
    display: block;
    font-size: 1.2rem;
    text-decoration: none; /* Подчеркивание */
    color: #ffffff; /* White */
    padding: 20px;
}
header ul li a:hover{ /* Эффект при наведении */
    background: #006669; /* Aqua */
    transition: 0.5s;
    color: #fff; /* White */
}
header ul li ul{ /* Логика вложенности */
    position: absolute;
    top: 70px;
    right: 0px;
    width: 180px;
    display: none;
    z-index: 111;
}
header ul li:hover ul{
    display: block;
}
header ul li ul li{
    width: 100%;
}
header ul li ul li a{
    padding: 10px;
    background: white;
    color: #008489; /* Aqua */
}
/*
    Footer
 */
.footer{ /* Через родительский */
    background: #303036; /* Black */
    color: #d3d3d3; /* White */
    position: relative;
}
.footer .footer-section{ /* Секция */
    padding: 22px;
}
.footer h4, .footer h3{ /* Text */
    color: white;
}
.footer .about .contact span{ /* Первый блок */
    display: block;
    font-size: 1.1em;
    margin-bottom: 8px;
}
/*
    Social Icons
*/
.footer .about .socials a{
    border: 1px solid grey; /* Gray */
    width: 45px;
    height: 45px;
    padding-top: 5px;
    padding-right: 0px;
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
    border-radius: 5px;
    transition: all .3s;
    color: #ffffff;
}
.footer .about .socials a:hover{ /* Анимация */
    border: 1px solid white;
    color: white;
    transition: all .3s;
}
.footer .links ul a{ /* Средний блок */
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
    transition: all .3s;
    color: #ffffff;
    text-decoration: none;
}
.footer .links ul a:hover{ /* Анимация */
    color: white;
    margin-left: 15px;
    transition: all .3s;
}
.footer .footer-bottom{ /* By me */
    background: #161616;
    color: #6c6c6c;
    height: 30px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 5px;
}
.contact-input{ /* Окно ввода */
    width: 100%;
    background: #272727;
    color: #bebdbd;
    margin-bottom: 10px;
    line-height: 1.5rem;
    padding: .9rem 1.4rem;
    border: none;
    width: 100%;
}
.btn-big{ /* Кнопка */
    margin-bottom: 50px;
    background: #272727;
    color: white;
    line-height: 1rem;
    padding: .5rem;
}
/*
    Single
 */
.single_post{
    margin-bottom: 30px;
}
.single_post .info{
    margin: 20px 0;
}
.single_post .info i{ /* Дата и Имя */
    display: inline-block;
    margin-right: 20px;
}
.single_post a{
    text-decoration: underline;
}
.single_post a:hover{
    text-decoration: underline;
    color: #008489; /* Цвет ссылки */
}
/*
    Форма
*/
.reg_form h2{
    text-align: center;
    margin: 30px 0;
}
.reg_form input{
    height: 3.3rem; /* Разер */
}
.reg_form a{
    font-size: 1.2em;
    transition: all .3s;
    color: #5c5b5b;
    text-decoration: underline;
    margin-left: 60px;
}
.reg_form a:hover{
    margin-left: 55px;
    transition: all .3s;
}
.reg_form h2{
    text-align: center;
    margin: 30px 0;
}

/*
    Формы PHP
*/

form div.err p{
    color:red;
    /* font-style: italic; */
    font-size: 1rem;
}
/*
   SIDEBAR
 */
.sidebar{
    margin: 1rem 0;
    background: #006669;
    min-height: 600px;
    max-height: 600px;
}
.sidebar ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    color: white;
}
.sidebar ul a{
    padding: 18px;
    display: block;
    border-bottom: 1px solid white;
}
.sidebar ul a:hover{
    padding-left: 10px;
    transition: all 0.3s;
    color: #d3d3d3;
    text-decoration: none;
}
.posts{  /* Заголовок */
    height: 100%;
    padding: 40px 100px 100px;
    overflow: scroll; /* Прокрутка */
}
.posts h2{
    text-align: center;
    margin: 2rem 0 0 0.5rem;
}
.posts .title-table div{
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #d3d3d3;
    font-weight: 700;
}
.posts .post div{
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #d3d3d3;
}
.posts .post .red{
    color: #008080;
}
.posts .post .del{
    color: #8B0000;
}
.posts .post .id{
    font-weight: bold;
}
/*Админ*/
.add-post form div{
    margin: 2rem 0;
}